<head>
</head>

<body>
  <!--Poner aqui link de la pagina principal-->
  <h1>
    <a class="header" href="https://alestarbucks.github.io/irregular-verbs/">Random English Irregular Verbs List Generator</a>
  </h1>
  
  <div id="home">
    Number of verbs: 
    <input [(ngModel)]="nverbs">
    <button (click)="generate()">Generate</button>
  </div>
  
  <div id="generated">
    <table id="table">
      <tr>
        <th>Infinitive</th>
        <th>Past simple</th>
        <th>Past Participle</th>
        <th>Translation</th>
      </tr>
      <tr *ngFor="let sel of selected; let i=index">
        <td *ngFor="let elem of selected[i]; let j=index">
          <p *ngIf="shown[i]==j">{{elem}}</p>
          <p *ngIf="shown[i]!=j"><input id="in{{i}}{{j}}" type="text" [(ngModel)]="try[i][j]"></p>
        </td>
      </tr>
    </table>
    <button id="check" (click)="check()">Submit</button>

    <div id="regen">
      Number of verbs:
      <input [(ngModel)]="nverbs">
      <button (click)="generate()">Regenerate</button>
    </div>


    <div id="score">Score: {{score}}/{{nverbs * 3}}</div>
  </div>

  <div class="faq">
    <h2>What is this page?</h2>
    <p>
      The purpose of this page is to provide an environment for English learners
      to test their knowledge on irregular verbs. The application has been available
      for everyone on the Internet so that anyone can access this tool whenever they
      need it, no matter the institution they belong to (or if they are self-taught!)
    </p>
    <br>
    <h2>How does it work?</h2>
    <p>
      First, you will be asked how many different verbs will be displayed in the table
      for you to fill out their respective forms. When you press the <button class="dummy">Generate</button>
      button, a list with as many (randomly chosen) verbs as you wanted will appear, showing only
      one of their forms. The goal is to fill out the rest with as many few errors as possible.
    </p>
    <p>
      When you feel like you're ready to check your results, press the <button class="dummy">Submit</button>
      at the bottom of the page and you will be given a score and the correct forms will be
      displayed on the table (on green if they were correct, and on red if they were not).
    </p>
    <p>
      You can regenerate the list again with new verbs whenever you want to by clicking the
      <button class="dummy">Regenerate</button> button (and changing the number of verbs if you wish to do so).
    </p>
    <br>
    <h2>Feedback, suggestions, contact and bug report</h2>
    <p>
      <!--For any questions about the application or other discussions, please fill out <a href="">this contact form</a>
      so I can receive it and get you back if necessary. -->
      If you have any particular suggestions or you find a bug, please <a href="https://github.com/alestarbucks/irregular-verbs/issues/new">open an issue</a> on
      the project's repository so I can comfortably see what is left to do near my workspace. Please consider referring
      to the project's <a href="https://github.com/alestarbucks/irregular-verbs/blob/master/known-bugs.txt">known bugs</a> file and read it before opening an issue if you have time to do so.
      Any criticism is welcome,
      specially if it is aimed at making the application better and more approachable by everyone.
      <!--Add FB and LinkedIn links?-->
    </p>
  </div>

  <div class="footer">
    RandVbs v. {{version}}<br>
    created by <a target="_blank" href="https://github.com/alestarbucks">alestarbucks</a><br>
    irregular verbs list © of <a target="_blank" href="http://www.english-area.com/">www.english-area.com</a>
  </div>
</body>





<router-outlet></router-outlet>